beautifulsoup4==4.11.1
deep_translator==1.11.4
google_api_python_client==2.48.0
googletrans==3.0.0
nextcord==2.6.0
nextcord_ext_menus==1.5.2
Pillow==9.1.1
Pillow==10.2.0
pilmoji==2.0.1
python-dotenv==1.0.1
pytz==2022.1
Requests==2.31.0
